.table-title {
  background-color: #299be4;
}

.status-button {
  border: none;
  border-radius: 15px;
}

.inactive-status-button {
  border: none;
  border-radius: 15px;
}

.table-sorting th fa-icon {
  color: gray;
}

.card {
  border: none;
  border-radius: 20px;
}

.action-btn {
  border: none;
  background-color: transparent;
}

.authority-button {
  border: none;
  border-radius: 20px;
}

.jh-create-entity,
.jh-refresh-entity {
  border-radius: 40px;
}
