<div class="col-md-10 bg-light py-3 px-3 shadow-lg" style="border-radius: 5%">
  <div class="d-flex align-items-center justify-content-center mb-4">
    <img src="../../content/images/byclogo.png" class="logo img-fluid mr-2 mb-md-0" alt="Logo" style="width: 10%" />
    <h1 class="text-dark mb-0 text-dark fs-2 fw-medium" style="margin-left: 5%">Register</h1>
    @if (success()) {
      <div class="alert alert-success" jhiTranslate="register.messages.success">
        <strong>Registration saved!</strong> Please check your email for confirmation.
      </div>
    }

    @if (error()) {
      <div class="alert alert-danger" jhiTranslate="register.messages.error.fail">
        <strong>Registration failed!</strong> Please try again later.
      </div>
    }

    @if (errorUserExists()) {
      <div class="alert alert-danger" jhiTranslate="register.messages.error.userexists">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>
    }

    @if (errorEmailExists()) {
      <div class="alert alert-danger" jhiTranslate="register.messages.error.emailexists">
        <strong>Email is already in use!</strong> Please choose another one.
      </div>
    }

    @if (doNotMatch()) {
      <div class="alert alert-danger" jhiTranslate="global.messages.error.dontmatch">The password and its confirmation do not match!</div>
    }
  </div>
  <div class="login-form rounded px-4 py-0">
    @if (!success()) {
      <form name="form" (ngSubmit)="register()" [formGroup]="registerForm">
        <div class="mb-3 input-group">
          <div class="d-flex flex-column">
            <div class="d-flex">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon icon="user"></fa-icon></span>
              </div>
              <input
                type="text"
                class="form-control"
                id="login"
                name="login"
                placeholder="{{ 'global.form.username.placeholder' | translate }}"
                formControlName="login"
                data-cy="username"
                #login
              />
            </div>
            <!-- Error messages -->
            <div>
              @if (registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)) {
                @if (registerForm.get('login')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="register.messages.validate.login.required"
                    >Your username is required.</small
                  >
                }

                @if (registerForm.get('login')?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="register.messages.validate.login.minlength"
                    >Your username is required to be at least 1 character.</small
                  >
                }

                @if (registerForm.get('login')?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="register.messages.validate.login.maxlength"
                    >Your username cannot be longer than 50 characters.</small
                  >
                }

                @if (registerForm.get('login')?.errors?.pattern) {
                  <small class="form-text text-danger" jhiTranslate="register.messages.validate.login.pattern"
                    >Your username is invalid.</small
                  >
                }
              }
            </div>
          </div>
        </div>
        <div class="mb-3 input-group">
          <div class="d-flex flex-column">
            <div class="d-flex">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon icon="envelope"></fa-icon></span>
              </div>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}"
                formControlName="email"
                data-cy="email"
              />
            </div>
            <!-- Error messages -->
            <div>
              @if (registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)) {
                @if (registerForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.required"
                    >Your email is required.</small
                  >
                }

                @if (registerForm.get('email')?.errors?.invalid) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid">Your email is invalid.</small>
                }

                @if (registerForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.minlength"
                    >Your email is required to be at least 5 characters.</small
                  >
                }

                @if (registerForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.maxlength"
                    >Your email cannot be longer than 50 characters.</small
                  >
                }
              }
            </div>
          </div>
        </div>
        <div class="mb-3 input-group">
          <div class="d-flex flex-column">
            <div class="d-flex">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon icon="lock"></fa-icon></span>
              </div>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="password"
                data-cy="firstPassword"
              />
            </div>
            <!-- Error messages -->
            <div>
              @if (
                registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
              ) {
                @if (registerForm.get('password')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.required"
                    >Your password is required.</small
                  >
                }

                @if (registerForm.get('password')?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.minlength"
                    >Your password is required to be at least 4 characters.</small
                  >
                }

                @if (registerForm.get('password')?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.maxlength"
                    >Your password cannot be longer than 50 characters.</small
                  >
                }
              }
            </div>
          </div>
          <jhi-password-strength-bar class="mt-2" [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>
        <div class="mb-3 input-group">
          <div class="d-flex flex-column">
            <div class="d-flex">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon icon="lock"></fa-icon></span>
              </div>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                data-cy="secondPassword"
              />
            </div>
            <!-- Error messages -->
            <div>
              @if (
                registerForm.get('confirmPassword')!.invalid &&
                (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
              ) {
                @if (registerForm.get('confirmPassword')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.required"
                    >Your confirmation password is required.</small
                  >
                }

                @if (registerForm.get('confirmPassword')?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.minlength"
                    >Your confirmation password is required to be at least 4 characters.</small
                  >
                }

                @if (registerForm.get('confirmPassword')?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                    >Your confirmation password cannot be longer than 50 characters.</small
                  >
                }
              }
            </div>
          </div>
        </div>
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="btn btn-primary"
          data-cy="submit"
          jhiTranslate="register.form.button"
        >
          Register
        </button>
      </form>
    }
  </div>
</div>
