<div class="col-md-10 bg-light py-3 px-3 shadow-lg" style="border-radius: 5%">
  <div class="d-flex align-items-center justify-content-center mb-4">
    <img src="../../content/images/byclogo.png" class="logo img-fluid mr-2 mb-2 mb-md-0" alt="Logo" style="width: 10%" />
    <h1 data-cy="loginTitle" jhiTranslate="login.title" class="text-dark mb-0 text-dark fs-2 fw-bold" style="margin-left: 5%">Sign In</h1>
    @if (authenticationError()) {
      <div class="alert alert-danger" data-cy="loginError" jhiTranslate="login.messages.error.authentication">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>
    }
  </div>
  <div class="login-form rounded p-4">
    <form class="form" (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="d-flex mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><fa-icon icon="user"></fa-icon></span>
        </div>
        <input
          type="text"
          class="form-control rounded"
          name="username"
          id="username"
          placeholder="{{ 'global.form.username.placeholder' | translate }}"
          formControlName="username"
          #username
          data-cy="username"
        />
      </div>
      <div class="d-flex mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><fa-icon icon="lock"></fa-icon></span>
        </div>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
          formControlName="password"
          data-cy="password"
        />
      </div>
      <div class="row d-flex align-items-center text-nowrap">
        <div class="col">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
            <span jhiTranslate="login.form.rememberme">Remember me</span>
          </label>
        </div>
        <div class="col">
          <a
            class="alert-link text-nowrap text-decoration-none mt-1 hover:text-underline text-nowrap text-start"
            routerLink="/account/reset/request"
            data-cy="forgetYourPasswordSelector"
            jhiTranslate="login.password.forgot"
            style="font-size: 15px"
            >forget your password?</a
          >
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary px-5 py-1 w-75 mt-3 mb-2 fw-bold fs-5 rounded-pill"
          data-cy="submit"
          jhiTranslate="login.form.button"
        >
          Sign in
        </button>
      </div>
      <p class="mt-3 text-dark text-center" jhiTranslate="login.account.dontHaveAccount">
        Don't have an account?
        <a [routerLink]="['/register']" jhiTranslate="login.account.createNewAccount" class="text-dark">Create new account</a>
      </p>
    </form>
  </div>
</div>
