.hero-bg-container {
  height: 80vh;
  width: 100%;
  margin: 0;
  background-image: url(../../content/images/landingPageImages/background.jpg);
  background-size: cover;
  padding: 4% 20% 4% 20%;
  text-align: start;
}

.testimonial-card {
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.testimonial-card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.testimonial-card .card-body {
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  color: black; /* Set the color of the arrows to black */
  font-size: 2rem; /* Set the font size of the arrows */
}
